<HTML>
<HEAD>
<TITLE>Simple web page</TITLE>
</HEAD>
<BODY style="background-color:black;">
<CENTER>
<FONT SIZE=+5 COLOR=WHITE>Welcome to the new world!<BR>
<IMAGE SRC=https://i.pinimg.com/originals/15/b0/c5/15b0c51202d9e47c5d162c6445b29bbe.jpg></IMAGE><BR>
<FONT SIZE=+3 COLOR=WHITE>CI/CD : Jenkins, GitHub, Artifactory, Ansible<BR>
</CENTER>
</BODY>
</HTML>

