<HTML>
<HEAD>
<TITLE>Simple web page</TITLE>
</HEAD>
<BODY style="background-color:powderblue;">
<IMG src=http://www.netanimations.net/yeild-to-construction.gif></IMG><BR>
<FONT SIZE=+4 COLOR={{ color }}>This is a simple web page with mor,HSJ$$*&#^!#<BR>
<BLINK>NO CARRIER</BLINK></FONT>
</BODY>
</HTML>

